.login-form-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.sign-in-error-block {
    display: flex;
    padding: 10px;
    margin-top: 20px;
    background: rgba(207, 44, 0, 0.1);
    border-radius: 5px;

    &__icon {
        margin: 3px 8px 0 0;
    }

    &__title {
        color: #cf2c00;
        font-size: 18px;
        line-height: 30px;
    }

    &__text {
        color: #cf2c00;
        font-size: 12px;
        line-height: 20px;
        opacity: 0.5;
    }
}

.github-link {
    color: #999;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    transition: all 0.3s ease-in;

    &:hover {
        color: #0d0d0d;
    }
}

.login-form-container {
    width: 100%;
    max-width: 520px;
    box-sizing: border-box;

    &__logo-container,
    &__github-link-container {
        display: flex;
        width: 100%;
        max-width: 520px;
        justify-content: center;
        margin: 20px 0;
    }
}

.login-form {
    padding: 40px 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    &__title {
        font-size: 24px;
        font-weight: normal;
        line-height: 30px;
    }

    &__btn {
        width: 110px;
        margin-top: 20px;
    }
}
